.Board {
  margin: 2em auto;
  display: grid;
  grid-gap: 2px;
  width: 45vh;
  height: 90vh;
  background: rgb(16, 29, 66);
  border: 10px solid rgb(63, 204, 187);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
