.Menu {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  z-index: 100;
}

.Button {
  padding: 40px 80px;
  font-size: 2em;
  background: #3fccbb;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 60px;
  cursor: pointer;
}

.Instructions {
  line-height: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #3fccbb;
  border-radius: 20px;
}
