/**
 * @file
 *
 * The "Lens Collector" pack and puzzle pages
 */

.pack--lens-collector-pack,
.puzzle--collect-the-post-1,
.puzzle--collect-the-post-2,
.puzzle--collect-the-post-3,
.puzzle--collect-the-post-4,
.puzzle--collect-the-post-5,
.puzzle--collect-the-post-6 {
  /* Scoped vars */
  --lens-peas: #e5ffbe;
  --lens-basil: #00501e;
  --lens-lilac: #d3b6ff;
  --lens-lime: #abfe2c;
  --lens-black: #212322;
  --lens-coolgrey: #fcfcfc;

  @apply bg-cover bg-center bg-no-repeat;
  background-color: var(--lens-basil);

  /* This is a div that's usually hidden in the page*/
  .pack__image-anchor {
    @apply mt-20 inline-block h-40 w-96 bg-center bg-no-repeat;
    background-image: url('web/public/customer/lens/lens_logo_white.svg');
  }

  /* Text right below logo from above */
  .pack__text {
    color: var(--lens-coolgrey);
  }
  /* On the pack page, the blocks representing each puzzle */
  .puzzle-thumb {
    border-color: var(--lens-lime);
    background-color: var(--lens-coolgrey);
  }

  /* Scope to main area so we can override JUST this button */
  .pack__main,
  .puzzle__main {
    .ik-button {
      @apply flex h-20 min-w-0 items-center justify-center rounded-full px-10 text-2xl;
      color: var(--lens-basil);
      background: var(--lens-peas);
      border-color: var(--lens-lime);
    }
  }

  /* You know what this is */
  .social-share {
    @apply rounded-full border-2 border-solid bg-transparent px-6 py-2 text-lg uppercase;
    color: var(--lens-basil);
    background: var(--lens-peas);
    border-color: var(--lens-lime);
  }
}
