/**
 * @file
 *
 * The "Probably Nothing" pack and puzzle pages
 */

.pack--probably-nothing-pack,
.puzzle--p0-limited-supply,
.puzzle--p0-genesis-inspection,
.puzzle--p0-live-the-dream,
.puzzle--p0-entrance-check-in,
.puzzle--p0-meet-the-team,
.puzzle--product-0-reveal,
.puzzle--p0-social-share,
.pack--p0-vip-party-pack,
.puzzle--p0-reveal-video-virtual,
.puzzle--social-code,
.puzzle--p0-pack-check-virtual,
.pack--p0-after-party-virtual-vip-pack,
.puzzle--p0-pool-dive,
.puzzle--p0-beach-run,
.puzzle--p0-genesis-check {
  /* Scoped vars */
  --p0-orange: #e4a23a;
  --p0-dark: #1e1e1e;

  @apply bg-cover bg-center bg-no-repeat;
  background-image: url('web/public/customer/p0/pn_pattern.jpg');

  /* This is a div that's usually hidden in the page*/
  .pack__image-anchor {
    @apply mt-20 inline-block h-20 w-72 bg-center bg-no-repeat;
    background-image: url('web/public/customer/p0/pn_logo_w.svg');
  }

  /* Text right below logo from above */
  .pack__text {
    @apply text-gray-200;
  }
  /* On the pack page, the blocks representing each puzzle */
  .puzzle-thumb {
    @apply border border-gray-700;
    background-color: var(--p0-dark);
  }

  /* Scope to main area so we can override JUST this button */
  .pack__main,
  .puzzle__main {
    .ik-button {
      @apply flex h-20 min-w-0 items-center justify-center rounded-full px-10 text-2xl;
      background: var(--p0-orange);
      border-color: var(--p0-orange);
    }
  }

  /* You know what this is */
  .social-share {
    @apply rounded-full border-2 border-solid border-white bg-transparent bg-none px-6 py-2 text-lg uppercase hover:text-inherit;
  }
}
