/**
 * @file
 *
 * The "Raid Brood" pack and puzzle pages
 */

.pack--raid-brood,
.puzzle--greet-the-brood,
.puzzle--demons-flesh,
.puzzle--most-sour {
  /* Scoped vars */
  --raid-button-color: #932777;
  --raid-pack-button-color: #1c0029;
  --raid-text-color: #21012e;
  --raid-button-text: #180021;

  @apply bg-cover bg-center bg-no-repeat;
  background-image: linear-gradient(
    0.25turn,
    #1d0029,
    #f9f05a,
    #932777,
    #fd3864
  );

  /* This is a div that's usually hidden in the page*/
  .pack__image-anchor {
    @apply mt-20 inline-block h-56 w-52 bg-center bg-no-repeat;
    background-image: ;
  }

  /* Text right below logo from above */
  .pack__text {
    color: var(--raid-text-color);
  }
  /* On the pack page, the blocks representing each puzzle */
  .puzzle-thumb {
    background-color: var(--raid-pack-button-color);
  }

  /* Scope to main area so we can override JUST this button */
  .pack__main,
  .puzzle__main {
    .ik-button {
      @apply flex h-20 min-w-0 items-center justify-center rounded-full px-10 text-2xl;
      color: var(--raid-button-text);
      background: var(--raid-button-color);
      border-color: var(--raid-button-text);
    }
  }

  /* You know what this is */
  .social-share {
    @apply rounded-full border-2 border-solid bg-transparent px-6 py-2 text-lg uppercase hover:bg-twitterBlue;
    color: var(--raid-button-text);
    border-color: var(--raid-button-text);
  }
}
