/**
 * @file
 *
 * The "Saga" pack and puzzle pages
 */

.pack--saga-wormhole-pack,
.puzzle--saga-home,
.puzzle--saga-lite {
  /* Scoped vars */
  --saga-button-color: #9b5320;
  --saga-pack-button-color: #330605;
  --saga-text-color: #ffffff;
  --saga-button-text: #56130c;

  @apply bg-cover bg-center bg-no-repeat;
  background-image: linear-gradient(0.25turn, #460016, #56130c, #d2306a);

  /* This is a div that's usually hidden in the page*/
  .pack__image-anchor {
    @apply mt-20 inline-block h-56 w-52 bg-center bg-no-repeat;
    background-image: url('web/public/customer/saga/saga_logo.png');
  }

  /* Text right below logo from above */
  .pack__text {
    color: var(--saga-text-color);
  }
  /* On the pack page, the blocks representing each puzzle */
  .puzzle-thumb {
    background-color: var(--saga-pack-button-color);
  }

  /* Scope to main area so we can override JUST this button */
  .pack__main,
  .puzzle__main {
    .ik-button {
      @apply flex h-20 min-w-0 items-center justify-center rounded-full px-10 text-2xl;
      color: var(--saga-button-text);
      background: var(--saga-button-color);
      border-color: var(--saga-button-text);
    }
  }

  /* You know what this is */
  .social-share {
    @apply rounded-full border-2 border-solid bg-transparent px-6 py-2 text-lg uppercase hover:bg-twitterBlue;
    color: var(--saga-button-color);
    border-color: var(--saga-button-color);
  }
}
