/**
 * @file
 *
 * The "Probably Nothing" pack and puzzle pages
 */

.pack--p0-pack,
.puzzle--p0-limited-supply,
.puzzle--p0-genesis-inspection,
.puzzle--p0-live-the-dream {
  /* Scoped vars */
  --p0-orange: #e4a23a;
  --p0-dark: #1e1e1e;

  @apply bg-no-repeat bg-cover bg-center;
  background-image: url("/customer/p0/pn_pattern.jpg");

  /* This is a div that's usually hidden in the page*/
  .pack__image-anchor {
    @apply mt-20 inline-block w-72 h-20 bg-no-repeat bg-center;
    background-image: url("/customer/p0/pn_logo_w.svg");
  }

  /* Text right below logo from above */
  .pack__text {
    @apply text-gray-200;
  }
  /* On the pack page, the blocks representing each puzzle */
  .puzzle-thumb {
    @apply border border-gray-700;
    background-color: var(--p0-dark);
  }

  /* Scope to main area so we can override JUST this button */
  .pack__main,
  .puzzle__main {
    .ik-button {
      @apply h-20 text-2xl px-10 text-black rounded-full min-w-0;
      background: var(--p0-orange);
      border-color: var(--p0-orange);
    }
  }

  /* You know what this is */
  .twitter-share {
    @apply px-6 py-2 uppercase text-lg bg-none rounded-full bg-transparent border-2 border-solid border-white;
  }
}
