/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

@layer base {
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''), url('./fonts/poppins-400.woff2') format('woff2');
  }
  /* poppins-500 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local(''), url('./fonts/poppins-500.woff2') format('woff2');
  }

  /* poppins-700 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''), url('./fonts/poppins-700.woff2') format('woff2');
  }

  html {
    @apply bg-brand-gray-primary;
  }

  svg {
    @apply fill-current;
  }
  [type='text']:focus,
  [type='email']:focus {
    @apply border-brand-accent-primary ring-brand-accent-secondary;
  }
}

@layer components {
  .magic-input > div > div {
    @apply flex flex-wrap justify-center;
  }
  .ik-code-input {
    @apply m-0 mx-1 mb-2 border-brand-gray-secondary bg-brand-gray-secondary/40 text-2xl font-bold text-brand-accent-secondary shadow-md !important;
    text-shadow: -2px 0px 7px theme(colors[brand-accent-primary]);
    width: 45px !important;
    height: 45px !important;
    padding: 0;
  }

  .discordIcon:hover {
    color: #5865f2;
  }

  .twitterIcon:hover {
    color: #1da1f2;
  }

  .redditIcon:hover {
    color: #ff4500;
  }

  .lensIcon:hover {
    color: lime;
  }

  .markdown {
    *:first-child {
      @apply mt-0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply mt-4 font-bold;
    }

    a > img {
      @apply mx-auto block;
    }

    h1,
    h2 {
      @apply my-5;
    }

    h1 {
      @apply text-4xl;
    }

    h2 {
      @apply text-3xl;
    }

    h3 {
      @apply text-2xl;
    }

    p,
    ul,
    ol,
    img,
    iframe {
      @apply mt-4;
    }

    p,
    li,
    a {
      @apply text-base;
    }

    ol,
    ul {
      @apply pl-5;
    }

    ol {
      @apply list-decimal;
    }

    ul {
      @apply list-disc;
    }

    li {
      @apply mt-2;
    }

    a {
      @apply text-brand-accent-primary transition hover:text-brand-accent-secondary;
    }
  }

  /* TODO: Remove when we switch to left-aligned puzzle markdown */
  .landing-md {
    p > img {
      @apply mx-auto;
    }
  }
}

.next-image-block span {
  display: block !important;
}

.slider-container,
.slider-list {
  @apply h-full;
}
