* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.TetrisApp {
  font-family: sans-serif;
  text-align: center;
  color: theme(colors[brand-accent-primary]);
  background-color: #101d42;
  height: 100vh;
  padding: 20px;
}
