@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  svg {
    @apply fill-current;
  }
}

@layer components {
  .magic-input > div > div {
    @apply flex flex-wrap justify-center;
  }
  .ik-code-input {
    @apply bg-gray-500 border-gray-200 m-0 mx-1 mb-2 font-bold shadow-md text-2xl !important;
    text-shadow: -2px 0px 7px #3fccbb;
    width: 45px !important;
    height: 45px !important;
    padding: 0;

    /* 640+ */
    @screen sm {
      @apply text-4xl !important;
      width: 65px !important;
      height: 65px !important;
    }
    /* 768+ */
    @screen md {
      width: 80px !important;
      height: 80px !important;
    }
    /* 1024+ */
    @screen lg {
      width: 110px !important;
      height: 110px !important;
    }
    /* 1280+ */
    @screen xl {
      @apply mx-3 !important;
      width: 125px !important;
      height: 125px !important;
    }
    /* 1536+ */
    @screen 2xl {
    }
  }

  .radial-bg {
    background: radial-gradient(ellipse at left top, #3fccbb50, transparent 40%),
      radial-gradient(ellipse at right bottom, #d2508e70, transparent 40%);
  }
  .discordIcon:hover {
    color: #5865f2;
  }

  .twitterIcon:hover {
    color: #1da1f2;
  }

  .markdown {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-bold mt-4;
    }

    h1,
    h2 {
      @apply my-5;
    }

    h1 {
      @apply text-4xl;
    }

    h2 {
      @apply text-3xl;
    }

    h3 {
      @apply text-2xl;
    }

    p,
    ul,
    ol,
    img,
    iframe {
      @apply mt-4;
    }

    p,
    li,
    a {
      @apply text-base md:text-lg;
    }

    ol,
    ul {
      @apply pl-5;
    }

    ol {
      @apply list-decimal;
    }

    ul {
      @apply list-disc;
    }

    a {
      @apply transition text-turquoise hover:text-turquoiseDark;
    }

    p > img {
      @apply mx-auto;
    }
  }
}

.next-image-block span {
  display: block !important;
}

.animated-thumb-unlocked {
  background: linear-gradient(302deg, #fff86d, #ff9e2f, #ffe42f, #ffb62f);
  background-size: 600% 600%;
  animation: pulse 2.5s infinite, goldGradient 6s ease infinite;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.animated-thumb-unlocked:after {
  content: "";
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  height: 100%;
  width: 75px;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  transform: skewX(-20deg) translateX(-105px);
  animation: shine 30s forwards infinite;
}

.animated-thumb {
  background: rgba(204, 63, 63, 0.5);
  animation: pulseLocked 2.5s infinite;
}

@keyframes shine {
  0% {
    transform: skewX(-20deg) translateX(-105px);
  }
  3%,
  100% {
    transform: skewX(-20deg) translateX(300px);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 182, 47, 1);
  }
  70% {
    box-shadow: 0 0 0 7px rgba(255, 182, 47, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 182, 47, 0);
  }
}

@keyframes pulseLocked {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 63, 63, 0.4);
  }
  70% {
    box-shadow: 0 0 0 7px rgba(204, 63, 63, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 63, 63, 0);
  }
}

.animated-spin {
  animation: spin 1000ms linear;
}

.animated-comeInOut {
  animation: comeInOut 700ms forwards;
}

@keyframes comeInOut {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.animated-goldGradient {
  background: linear-gradient(302deg, #fff86d, #ff9e2f, #ffe42f, #ffb62f);
  background-size: 600% 600%;
  animation: goldGradient 6s ease infinite;
}

@keyframes goldGradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
