@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ik-code-input {
    @apply bg-gray-500 border-gray-200 m-0 mr-8 text-4xl font-bold !important;
    /* font-size: 4rem !important; */
    /* height: auto !important; */
    /* width: auto !important; */
    width: 160px !important;
    height: 180px !important;
  }
  .ik-code-input:last-child {
    @apply mr-0 !important;
  }

  .radial-bg {
    background: radial-gradient(ellipse at left top, #3fccbb50, transparent 40%),
      radial-gradient(ellipse at right bottom, #d2508e70, transparent 40%);
  }
}
