@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  svg {
    @apply fill-current;
  }
}

@layer components {
  .magic-input > div > div {
    @apply flex flex-wrap justify-center;
  }
  .ik-code-input {
    @apply bg-gray-500 border-gray-200 m-0 mx-1 mb-5 font-bold shadow-md text-2xl !important;
    text-shadow: -2px 0px 7px #3fccbb;
    width: 45px !important;
    height: 45px !important;
    padding: 0;

    /* 640+ */
    @screen sm {
      @apply text-4xl !important;
      width: 90px !important;
      height: 90px !important;
    }
    /* 768+ */
    @screen md {
      width: 90px !important;
      height: 90px !important;
    }
    /* 1024+ */
    @screen lg {
      @apply mx-4 !important;
      width: 125px !important;
      height: 125px !important;
    }
    /* 1280+ */
    @screen xl {
    }
    /* 1536+ */
    @screen 2xl {
    }
  }

  .radial-bg {
    background: radial-gradient(ellipse at left top, #3fccbb50, transparent 40%),
      radial-gradient(ellipse at right bottom, #d2508e70, transparent 40%);
  }
  .discordIcon:hover {
    color: #5865f2;
  }

  .twitterIcon:hover {
    color: #1da1f2;
  }
}
